@model IEnumerable<support_tracker.Models.Ticket>

@{
    ViewBag.Title = "TicketsList";
}

<div class="pt-2 text-center">
    <h1>List of all tickets</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Customer Email</th>
            <th scope="col">Subject</th>
            <th scope="col">Department</th>
            <th scope="col">Status</th>
            <th scope="col" colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ticket in Model)
        {
            <tr>
                <th scope="row">@ticket.TicketId</th>
                <td>@ticket.CustomerName</td>
                <td>@ticket.CustomerEmail</td>
                <td>@ticket.Subject</td>
                <td>@ticket.Department.DepartmentName</td>
                <td>@ticket.Status.Status</td>
                <td><a href="#">Watch</a></td>
                <td><a href="#">Take a ticket</a></td>
            </tr>
        }
    </tbody>
</table>